<!--home page of our project  -->
<section  class="hero bg-local bg-no-repeat bg-gray-200 bg-cover z-0 py-12" style="background-image : url('/img/hero-pizza.jpg')">
    
    <div class="container mx-auto flex items-center justify-between  pl-12 mt-12">
        <div class="w-1/2">
               <h6 class="text-lg md:text-3xl"><em>Are you hungry?</em></h6>
               <h1 class="text-3xl md:text-6xl font-bold">Don't wait!</h1>
               <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"><a href="#orderNow">Visit Now</a></button>
       </div>
      
  </div>
</section>

<div class="menuBox">

    <h1 id="orderNow" class="text-xl md:text-3xl font-bold w-full">Visit for your favrate meal at StudentFoodCorner </h1>
 <section class="menu container  mx-auto py-4 mb-1 mt-1">
  
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 grid gap-x-0 grid gap-y-0">
    
      
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/burger1.png" alt=""> 
           
    </div>
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/pizza3.png" alt="">
        
    </div>
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/veg-maggi1.png" alt=""> 
           
    </div>
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/pizza6.png" alt="">
        
    </div>
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/spring-roll.png" alt="">
        
    </div>
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/simple-maggi.png" alt="">
        
    </div>
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/img5.jpeg" alt="">
        
    </div>
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/veg-maggi1.png" alt=""> 
        
    </div>
    <div class="w-full ">
        <img id="menuPageImage" class="h-full w-full mb-1 mx-auto" src="/img/img6.jpeg" alt="">
        
    </div>
    
    
    </div>
</section>
</div>